<section class="login-form">
  <form 
    fxLayout="column" 
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="Your Email"
        formControlName="email"
        required>
      <mat-error>Invalid or missing email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        type="password" 
        matInput 
        placeholder="Your Password"
        formControlName="password"
        required>
      <mat-hint>Should be at least 6 characters long</mat-hint>
      <mat-error>Invalid password</mat-error>
    </mat-form-field>
    <button 
      type="submit" 
      mat-raised-button 
      color="primary" 
      [disabled]="loginForm.invalid">
      Submit
    </button>
  </form>
</section>
